.bg-brown{
    background-color:#463E41;
}
.color-white{
    color: aliceblue;
}
li>a{
    color:aliceblue
}
.ml20{
    margin-right: 20px;
}
.mgt10{
    margin-top: 15px;
}
.hk{
    color:grey
}
.mgt100{
    margin-top: 80px;
}
.bg-b{
    background-color:#FCF3CF;
}
.marl13{
    margin-right: 13px;
}
img{
    margin-top: 38px;
}
mrgb{
    margin-bottom: 18px;
}